<div class="news">
  <h4>
    <a href="#">新闻资讯</a>
  </h4>
  <div class="title-box">
    <h5>
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a href="#">办公室装修中，你是否忽略了光健康光健康光健康</a>
    </h5>
    <p>
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;2018-2-24</p>
  </div>
  <div class="title-box">
    <h5>
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a href="#">办公室装修中，你是否忽略了光健康光健康光健康</a>
    </h5>
    <p>
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;2018-2-24</p>
  </div>
  <div class="title-box">
    <h5>
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a href="#">办公室装修中，你是否忽略了光健康光健康光健康</a>
    </h5>
    <p>
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;2018-2-24</p>
  </div>
  <div class="title-box">
    <h5>
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a href="#">办公室装修中，你是否忽略了光健康光健康光健康</a>
    </h5>
    <p>
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;2018-2-24</p>
  </div>
  <div class="title-box">
    <h5>
      <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
      <a href="#">办公室装修中，你是否忽略了光健康光健康光健康</a>
    </h5>
    <p>
      <i class="fa fa-calendar"></i>&nbsp;&nbsp;2018-2-24</p>
  </div>
</div>
