<section class="news-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h1>
            <a href="/home/news/news/1">新闻资讯</a>
          </h1>
        </div>
      </div>

      <ng-container *ngFor="let item of data">
        <div class="col-sm-6 col-md-6 col-lg-6 col-lg-6 content-col">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6 no-padding">
              <div class="img-box">
                <a href="/home/newsContent/news/{{item.id}}" class="img-content">
                  <img *ngIf="item.imageIds && item.imageIds[0]" src="{{dataServer}}{{item.imageIds[0].path}}">
                </a>
                <h2>
                  <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{item.createAt | date:"yyyy-MM-dd"}}</h2>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6 no-padding">
              <div class="text-box">
                <h2>
                  <a href="/home/newsContent/news/{{item.id}}" title="办公室装修设计中您是否忽略了“光健康">{{item.title}}</a>
                </h2>
                <p>{{item.brief}}</p>
                <div class="more">
                  <span>
                    <b>By:&nbsp;</b>{{item.author}}</span>&nbsp;&nbsp;
                  <a href="/home/news/news/1">查看更多</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</section>
