<section class="example-section">
  <div class="container container-example">
    <div class="row example">
      <div class="col-12">
        <div class="title">
          <h1>
            <a routerLink="/home/gallery/example/example/1">定制案例</a>
          </h1>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <ng-container *ngFor="let item of data">
              <div class="example-box">
                <a routerLink="/home/galleryShow/example/{{item.id}}" class="img-box">
                  <img *ngIf="item.imageIds && item.imageIds[0]" [defaultImage]="'assets/logging.gif'" lazyLoad="{{dataServer}}{{item.imageIds[0].path}}">
                  <div class="sf-box">
                    <div class="border">
                      <div class="content">
                        <h4>案例</h4>
                        <p>定制案例</p>
                      </div>
                    </div>
                  </div>
                </a>
                <h3>
                  <a routerLink="/home/galleryShow/example/{{item.id}}">{{item.title}}</a>
                </h3>
              </div>
            </ng-container>
          </div>
          <div class="col-12 botom-button">
            <home-slide-link link="/home/gallery/example/example/1" title="查看更多"></home-slide-link>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
