.hot {
  h3 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 22px;
    margin-top: 0;
    color: #525659;
    text-transform: uppercase;
    font-weight: 600;
  }
  .hot-list {
    border-top: 1px solid #d3dae0;
    padding-top: 22px;
  }
}
