<div class="row top-bar">
  <div class="col">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bar">
            <topBar-slideBox title="4008-888-888" iconName="fa fa-phone"></topBar-slideBox>
            <topBar-slideBox title="4008-888-888@qq.com" iconName="fa fa-envelope"></topBar-slideBox>
          </div>
          <div class="bar">
            <topBar-changeBox iconName="fa fa-envelope"></topBar-changeBox>
            <topBar-changeBox iconName="fa fa-envelope"></topBar-changeBox>
            <topBar-changeBox iconName="fa fa-envelope"></topBar-changeBox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
