<template-panel-form Title="修改菜单">
  <data-form [formInfo]="buildingInfoForm" [dataStr]="buildingInfo">
    <form-item name="phone" title="电话">
      <form-validator type="required" title="请输入电话"></form-validator>
    </form-item>
    <form-item name="email" title="邮箱">
      <form-validator type="required" title="请输入邮箱"></form-validator>
    </form-item>
    <form-item name="qqLink" title="qq链接">
      <form-validator type="required" title="请输入qq链接"></form-validator>
    </form-item>
    <form-item name="tcWeibo" title="腾讯微博链接">
      <form-validator type="required" title="请输入腾讯微博链接"></form-validator>
    </form-item>
    <form-item name="xlWeibo" title="新浪微博链接">
      <form-validator type="required" title="请输入新浪微博链接"></form-validator>
    </form-item>
    <form-item name="tbLink" title="淘宝链接">
      <form-validator type="required" title="请输入淘宝链接"></form-validator>
    </form-item>
    <form-item name="address" title="地址">
      <form-validator type="required" title="请输入地址"></form-validator>
    </form-item>
    <form-item name="brief" title="公司简介">
      <form-validator type="required" title="请输入公司简介"></form-validator>
    </form-item>
    <form-item name="code" title="邮政编码">
      <form-validator type="required" title="请输入邮政编码"></form-validator>
    </form-item>
    <form-item name="copyright" title="版权信息">
      <form-validator type="required" title="请输入版权信息"></form-validator>
    </form-item>
  </data-form>
</template-panel-form>
