<section class="contact-section d-none d-sm-block" [style.backgroundImage]="bgImg">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="img-box">
          <img *ngIf="contact1 && contact1[0] && contact1[0].imageIds[0]" [defaultImage]="'assets/logging.gif'" lazyLoad="{{dataServer}}{{contact1[0].imageIds[0].path}}">
        </div>
      </div>s
      <div class="col">
        <div class="text-box">
          <h2>
            <span *ngIf="info && info[0]">{{info[0].contact1}}</span>
          </h2>
          <p *ngIf="info && info[0]">{{info[0].contact2}}</p>
          <p class="phone-contact">
            <b *ngIf="info && info[0]">{{info[0].phone}}</b> 或
            <home-slide-link link="/home/contact/contact" title="查看更多"></home-slide-link>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
