<header class="header d-none d-sm-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bar">
          <topBar-slideBox [title]="_info.phone" iconName="fa fa-phone"></topBar-slideBox>
          <topBar-slideBox [title]="_info.email" iconName="fa fa-envelope-o"></topBar-slideBox>
        </div>
        <div class="bar rbar">
          <topBar-changeBox [link]="_info.xlWeibo" iconName="fa fa-weibo"></topBar-changeBox>
          <topBar-changeBox [link]="_info.tcWeibo" iconName="fa fa-tencent-weibo"></topBar-changeBox>
          <topBar-changeBox [link]="_info.qqLink" iconName="fa fa-qq"></topBar-changeBox>
          <topBar-changeBox [link]="_info.tbLink" iconName="fa fa-shopping-cart"></topBar-changeBox>
        </div>
      </div>
    </div>
  </div>
</header>
