<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bar">
          <topBar-slideBox title="4008-888-888" iconName="fa fa-phone"></topBar-slideBox>
          <topBar-slideBox title="4008-888-888@qq.com" iconName="fa fa-envelope-o"></topBar-slideBox>
        </div>
        <div class="bar rbar">
          <topBar-changeBox iconName="fa fa-weibo"></topBar-changeBox>
          <topBar-changeBox iconName="fa fa-tencent-weibo"></topBar-changeBox>
          <topBar-changeBox iconName="fa fa-qq"></topBar-changeBox>
          <topBar-changeBox iconName="fa fa-shopping-cart"></topBar-changeBox>
        </div>
      </div>
    </div>
  </div>
</header>
