.brand-row {
  background-color: #fff;
  .container {
    border-top: 1px solid #E2E2E2;
    padding: 50px 0;
    position: relative;
    .row {
      margin: 0 35px;
      overflow: hidden;
      div {
        white-space: nowrap;
        background-color: #fff;
        padding: 0;
      }
    }
    .arrow {
      position: absolute;
      top: 0;
      bottom: 0;
      height: 30px;
      margin: auto;
      cursor: pointer;
      i {
        color: #B9B9B9;
        font-size: 40px;
        line-height: 40px;
      }
    }
    .arrow-left {
      left: 0;
    }
    .arrow-right {
      right: 0;
    }
    .img-box {
      display: inline-block;
      vertical-align: middle;
      img {
        width: 100%;
      }
    }
  }
}
