<section class="brand-row">
  <div class="container">
    <div class="row">
      <div class="col-12 brand-col" id="brand-col" [style.marginLeft.px]="marginLeft" [class.col-ani]="flag">
        <div class="img-box" *ngFor="let item of list" id="brand-box">
          <img src="{{dataServer}}{{item}}">
        </div>
      </div>
    </div>
    <div class="arrow arrow-left">
      <i class="fa fa-angle-left" (click)="onClick('left')"></i>
    </div>
    <div class="arrow arrow-right">
      <i class="fa fa-angle-right" (click)="onClick('right')"></i>
    </div>
  </div>
</section>
