.brief {
  h4 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid #0e3c4f;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
    a {
      font-size: inherit;
      color: inherit;
    }
    &:hover {
      color: #1cbac8;
    }
  }
  p {
    font-size: 14px;
    line-height: 24px;
    color: #7e959e;
  }
  a {
    color: #3288B0;
    font-size: 14px;
    line-height: 24px;
  }
  ul {
    margin: 10px 0 0 0;
    text-align: left;
    li {
      display: inline-block;
      vertical-align: middle;      
      margin-right: 7px;
      a {
        display: inline-block;
        position: relative;
        padding: 0;
        width: 40px;
        background-color: #FE5454;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;
        color: #fff;
        transform: rotate(0deg);
        font-size: 17px;
        border-radius: 100%;
        transition: all 1s ease;
      }
      a:hover {
        color: #FE5454;
        transform: rotate(360deg);
      }
      a:hover::before {
        width: 100%;
        height: 100%;
      }
      a::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        margin: auto;
        color: red;
        margin: auto;
        background-color: #fff;
        border-radius: 100%;
        width: 0;
        height: 0;
        transition: all 0.5s ease;
      }
    }
  }
}
