<div class="brief">
  <h4>
    <a href="/home/article/company/companyBrief">公司简介</a>
  </h4>
  <p>{{info.brief}}</p>
  <a href="/home/article/company/companyBrief">查看更多&nbsp;>></a>
  <ul>
    <li>
      <a href="{{info.xlWeibo}}">
        <i class="fa fa-weibo"></i>
      </a>
    </li>
    <li>
      <a href="{{info.tcWeibo}}">
        <i class="fa fa-tencent-weibo"></i>
      </a>
    </li>
    <li>
      <a href="{{info.qqLink}}">
        <i class="fa fa-qq"></i>
      </a>
    </li>
    <li>
      <a href="{{info.tbLink}}">
        <i class="fa fa-shopping-cart"></i>
      </a>
    </li>
  </ul>
</div>
