<div class="brief">
  <h4>公司简介</h4>
  <p>某某装饰设计工程有限公司是一家集室内设计、工程施工、材料装饰为一体的专业化中型装饰企业。公司成立于2012年（前身为室内设计工作室，2009年始于深圳市），现注册资金500万元，公司具有施工二级、设计乙级、承接1000万元...</p>
  <a href="#">查看更多&nbsp;>></a>
  <ul>
    <li>
      <a href="#">
        <i class="fa fa-phone"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-phone"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-phone"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-phone"></i>
      </a>
    </li>
  </ul>
</div>
