<footer class="footer   d-none d-lg-block">
  <div class="container">
    <home-board></home-board>
    <home-footer-navbar></home-footer-navbar>
    <div class="row">
      <div class="col-3">
        <home-footer-brief></home-footer-brief>
      </div>
      <div class="col-3">
        <home-footer-news></home-footer-news>
      </div>
      <div class="col-3">
        <home-fotter-contact></home-fotter-contact>
      </div>
      <div class="col-3">
        <home-footer-qrcode></home-footer-qrcode>
      </div>
    </div>
  </div>
</footer>
<home-footer-copyright></home-footer-copyright>
