<footer class="footer d-none d-lg-block">
  <div class="container">
    <home-board [info]="_info.board"></home-board>
    <home-footer-navbar [firstMenu]="firstMenu"></home-footer-navbar>
    <div class="row">
      <div class="col-3">
        <home-footer-brief [info]="_info"></home-footer-brief>
      </div>
      <div class="col-3">
        <home-footer-news [newsList]="newsList"></home-footer-news>
      </div>
      <div class="col-3">
        <home-fotter-contact [phone]="_info.phone" [address]="_info.address" [email]="_info.email" [code]="_info.code"></home-fotter-contact>
      </div>
      <div class="col-3">
        <home-footer-qrcode [data]="qrcode"></home-footer-qrcode>
      </div>
    </div>
  </div>
</footer>
<home-footer-copyright [copyright]="_info.copyright"></home-footer-copyright>