<div class="contact">
  <h4>
    <a href="#">联系信息</a>
  </h4>
  <div class="info-box">
    <p>
      <i class="fa fa-map-marker"></i>&nbsp;&nbsp;公司地址：{{address}}</p>
  </div>
  <div class="info-box">
    <p>
      <i class="fa fa-phone"></i>&nbsp;&nbsp;公司电话：{{phone}}</p>
  </div>
  <div class="info-box">
    <p>
      <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;公司邮箱：{{email}}</p>
  </div>
  <div class="info-box">
    <p>
      <i class="fa fa-globe"></i>&nbsp;&nbsp;邮政编码：{{code}}</p>
  </div>
</div>
