<nav class="footer-navbar">
  <ul *ngIf="firstMenu && firstMenu.length > 0">
    <li>
      <a routerLink="{{firstMenu[0].link}}">{{firstMenu[0].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[1].link}}">{{firstMenu[1].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[2].link}}">{{firstMenu[2].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[3].link}}">{{firstMenu[3].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[4].link}}">{{firstMenu[4].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[5].link}}">{{firstMenu[5].title}}</a>
    </li>
    <li>
      <a routerLink="{{firstMenu[6].link}}">{{firstMenu[6].title}}</a>
    </li>
  </ul>
</nav>
