html,
body,
app-root {
  font-family: Microsoft YaHei;
  font-size: 13px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.service-section {
  background-color: #fff;
  .container-service {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.example-wrapper {
  background-image: url(../../assets/building-img/project-bg.jpg);
  background-position: center;
  background-size: 100%;
  .container-example {
    padding: 45px 0;
  }
}
