@media screen and (min-width: 1200px) {
  .navbox>.container {
    max-width: 1370px;
  }
  .header>.container {
    max-width: 1400px;
  }
  .search-bar>.container {
    max-width: 1300px;
  }
  .about-brief>.container {
    max-width: 1370px;
  }
  .home-gallery>.container {
    max-width: 1370px;
  }
  .home-news>.container {
    max-width: 1370px;
  }
  .home-contact>.container {
    max-width: 1370px;
  }
  .brand-row {
    .img-box {
      width: 18%;
      margin: 0 1% 0 1%;
    }
  }
  .news-section {
    .content-col {
      height: 268px;
    }
  }
  .service-box {
    div {
      height: 320px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .list-item>a {
    padding: 0 10px;
  }
  .brand-row {
    .img-box {
      width: 31.333%;
      margin: 0 1% 0 1%;
    }
  }
  .nav-tap {
    width: 400px;
    right: -400px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-tap {
    width: 400px;
    right: -400px;
  }
  .elite {
    .elite-col {
      width: 50%;
    }
  }
  .brand-row {
    .img-box {
      width: 48%;
      margin: 0 1% 0 1%;
    }
  }
}

@media screen and (max-width: 575px) {
  .brand-row {
    .img-box {
      width: 98%;
      margin: 0 1% 0 1%;
    }
  }
  .nav-tap {
    width: 300px;
    right: -300px;
  }
}

@media screen and (min-width: 1800px) {
  .footer>.container {
    max-width: 1370px;
  }
  .carousel>div {
    height: 680px;
  }
}

@media screen and (max-width: 1800px) {
  .list-item>a {
    padding: 0 12px;
  }
}
