@media screen and (min-width: 1200px) {
  .navbox>.container {
    max-width: 1370px;
  }
  .header>.container {
    max-width: 1400px;
  }
  .search-bar>.container {
    max-width: 1300px;
  }
  .brand-row {
    .img-box {
      width: 20%;
    }
  }
}

@media screen and (min-width: 992px) {
  .news-section {
    .content-col {
      height: 268px;
    }
  }
  .service-box {
    div {
      height: 320px;
    }
  }
  .brand-row {
    .img-box {
      width: 33.333%;
    }
  }
}


//~~~~~
@media screen and (max-width: 576px) {
  .brand-row {
    .img-box {
      width: 100%;
    }
  }
}


//!!
@media screen and (min-width: 1800px) {
  .footer>.container {
    max-width: 1370px;
  }
  .carousel>div {
    height: 680px;
  }
}



//~~~~~
@media screen and (max-width: 1800px) {
  .list-item>a {
    padding: 0 12px;
  }
}


//~~~~~
@media screen and (max-width: 1200px) {
  .list-item>a {
    padding: 0 10px;
  }
}

//~~~~~
@media screen and (min-width: 400px) and (max-width: 768px) {
  .elite {
    .elite-col {
      width: 50%;
    }
  }
}
