.home-contact {
  padding: 45px 0;
  background-color: #fff;
  .img-box {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .form-box {
    h3 {
      font-size: 22px;
      text-align: center;
      margin-bottom: 25px;
      color: inherit;
      font-weight: 500;
    }
    .container-fluid {
      padding: 0;
      .row {
        div {
          padding-bottom: 20px;
          input {
            box-sizing: border-box;
            padding: 0 15px;
            border: 1px solid #ddd;
            height: 40px;
            line-height: 40px;
            color: #444;
            width: 100%;
            margin-bottom: 0;
            text-decoration: none;
          }
          textarea {
            box-sizing: border-box;
            border: 1px solid #ddd;
            color: #333;
            min-height: 100px;
            padding: 15px;
            color: #444;
            width: 100%;
            margin-bottom: 0;
          }
          input:focus,
          textarea:focus {
            border: 1px solid #95b7ed;
            box-shadow: 0 0 0 1px #a6c7fe;
            border-radius: 2px;
          }
          a {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            line-height: 40px;
            text-align: center;
            background-color: #333;
            color: #fff;
            font-size: 14px;
            padding: 0 15px;
            border: 1px solid #fff;
            box-shadow: 0 0 0 1px #fff;
            &:hover {
              transition: all 0.2s ease;
              background-color: #FE5454;
            }
            &:active {
              background-color: #FE5454;
              border: 1px solid #95b7ed;
              box-shadow: 0 0 0 1px #a6c7fe;
            }
          }
        }
      }
    }
  }
}
