<home-search-bar [flag]="flag"></home-search-bar>
<div class="navbox">
  <div class="container">
    <div class="row">
      <div class="icon-col col-sm-12 col-md-12 col-lg-3 col-xl-5">
        <div class="logobox" href="#">
          <a href="#">
            <img src="assets/img/logo.png" />
          </a>
        </div>
        <span class="nav-btm">
          <i class="fa fa-bars"></i>
        </span>
      </div>
      <div class="menu-col col-lg-9 col-xl-7  col-sm-12 col-md-12">
        <nav>
          <ul>
            <home-list-item title="网站首页"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item title="网站首页" [secondList]="list"></home-list-item>
            <home-list-item isSearch=true (onClick)="onClick()"></home-list-item>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
